node_modules

.DS_Store

.idea/*

.env*

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfstate*

# Python
__pycache__/
*.pyc

# ClickHouse local data
clickhouse
ch-data/
